<h1>
  The Ralph D. Winter Research Center
</h1>

<p>
  The Ralph D. Winter Research Center is focused on the archival holdings of Ralph D. Winter and Donald McGavran, but also hosts consultations on important current issues in missiology.
</p>
